<div class="container-fluid" style="padding:0">
  <nav class="navbar">
    <h3><strong>common grounds.</strong></h3>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/about">about us</a></li>
      <li><a href="/users/show">products</a></li>
      <li><a href="/users/checkout">checkout</a></li>
    </ul>
  </nav>
  <hr>
</div>
