<div class="container-fluid" style="padding:0">
  <nav class="navbar">
    <a href="/index" style=color:black><h3><strong>common grounds.</strong></h3></a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/about">about us</a></li>
      <li><a href="/show">products</a></li>
      <li><a href="/checkout">checkout</a></li>
    </ul>
  </nav>
  <hr>
</div>
