<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center" style="font-weight: 300">CHECK<span><strong>OUT</strong></span></h1>
      <div class="form" id="second">
        <h4 style="font-weight: 300; font-size: 25px;">SHIPPING METHOD</h4>
        <div class="row">
          <div class="col-xs-12 text-left" style="font-size: 20px">
            <div class="radio">
              <input type="radio" name="name" value="">
              <p>
                Standard Free Shipping
              </p>
              <p class="text-right type" style="">
                Free
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-left" style="font-size: 20px">
            <div class="radio">
              <input type="radio" name="name" value="">
              <p>
                Priority Shipping(1-3 Days)
              </p>
              <p class="text-right type" style="">
                $10.00
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="continue">
        <div class="col-xs-12 col-md-6 text-left" style="font-size: 20px">
          <a href="/checkout">< RETURN TO CUSTOMER INFORMATION</a>
        </div>
        <div class="col-xs-12 col-md-6 text-right" style="font-size: 17px">
          <a href="/checkout_3"><input type="button" name="name" value="CONTINUE TO PAYMENT METHOD"></a>
        </div>
      </div>

      <footer class="text-center">
        <h5>&copy;<strong>2016 commongrounds.</strong></h5>
        <p style="color: grey">
          all rights reserved
        </p>
      </footer>
    </div>
  </body>
</html>
