<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container" id="checkout_3">
      <h1 class="text-center" style="font-weight: 300">CHECK<span><strong>OUT</strong></span></h1>
      <h4 style="font-weight: 300; font-size: 25px">PAYMENT METHOD</h4>
      <p>
        All transactions are secure and encrypted. Credit card information is never stored.
      </p>
      <div class="row" id="card">
        <div class="col-xs-6 text-left" style="font-size: 20px">
          <input type="radio" name="card" value="card-info">
          <p style="margin-bottom:2%">
            Credit Card
          </p>
        </div>
        <div class="col-xs-6 text-left" style="font-size: 20px" id="payment-options">
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/visa-glossy.png" alt="Visa" hspace="5" vspace="5" border="0" />
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/mastercard-glossy.png" alt="Mastercard" hspace="5" vspace="5" border="0" />
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/americanexpress-glossy.png" alt="American Express" hspace="5" vspace="5" border="0" />
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/discover-glossy.png" alt="Discover" hspace="5" vspace="5" border="0" />
          <p>
            and more...
          </p>
        </div>
      </div>
      <div class="row" id="card-info">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 text-left" style="font-size: 20px" id="card-number">
              <input type="text" name="name" placeholder="Card number">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 text-left" style="font-size: 20px">
              <input type="text" name="name" placeholder="Name on card">
            </div>
            <div class="col-xs-3 text-left" style="font-size: 20px">
              <input type="text" name="name" placeholder="MM/YY">
            </div>
            <div class="col-xs-3 text-left" style="font-size: 20px">
              <input type="text" name="name" placeholder="CVV">
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="paypal">
        <div class="col-xs-6 text-left" style="font-size: 20px" id="paypal-radio">
          <input type="radio" name="name" value="Credit Card">
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/paypal-glossy.png" alt="PayPal" hspace="5" vspace="5" border="0" />
        </div>
        <div class="col-xs-6 text-left" style="font-size: 20px" id="payment-options-2">
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/visa-glossy.png" alt="Visa" hspace="5" vspace="5" border="0" />
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/mastercard-glossy.png" alt="Mastercard" hspace="5" vspace="5" border="0" />
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/americanexpress-glossy.png" alt="American Express" hspace="5" vspace="5" border="0" />
          <img src="http://www.dreamtemplate.com/dreamcodes/payment_icons/discover-glossy.png" alt="Discover" hspace="5" vspace="5" border="0" />
        </div>
      </div>
      <h4 id="address"style="font-weight: 300; font-size: 25px;">BILLING ADDRESS</h4>
      <div class="row" id="card">
        <div class="col-xs-6 text-left" style="font-size: 20px">
          <input type="radio" name="name" value="Credit Card">
          <p style="margin-bottom:2%">
            Same as shipping address
          </p>
        </div>
      </div>
      <div class="row" id="card">
        <div class="col-xs-6 text-left" style="font-size: 20px">
          <input type="radio" name="name" value="Credit Card">
          <p style="margin-bottom:2%">
            Use a different billing address
          </p>
        </div>
      </div>
      <div class="row" id="checkbox">
        <div class="col-xs-6 text-left" style="font-size: 20px">
          <input type="checkbox" name="name" value="" style="transform: scale(2)">
          <p style="margin-left: 2%">
            Subscribe to our newletter
          </p>
        </div>
      </div>
      <br>
      <div class="row" id="continue">
        <div class="col-xs-6 text-left" style="font-size: 20px">
          <a href="#">< RETURN TO SHIPPING METHOD</a>
        </div>
        <div class="col-xs-6 text-right" style="font-size: 17px;">
          <input style="color:black" type="button" name="name" value="COMPLETE ORDER">
        </div>
      </div>
    </div>
    <footer class="text-center">
      <h5>&copy;<strong>2016 commongrounds.</strong></h5>
      <p style="color: grey">
        all rights reserved
      </p>
    </footer>
  </body>
</html>
