<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center" style="font-weight: 300">THANK<span><strong>YOU</strong></span></h1>
    </div>
  </body>
  <footer class="text-center">
    <h5>&copy;<strong>2016 commongrounds.</strong></h5>
    <p style="color: grey">
      all rights reserved
    </p>
  </footer>
</html>
