<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="title">
          <h3><strong>common grounds.<strong></h3>
        </div>
        <ul class="text-right">
          <li><a href="#">about us</a></li>
          <li><a href="#">products</a></li>
          <li><a href="#">checkout</a></li>
        </ul>
      </header>
      <div class=".col-xs-12 .col-md-12 text-center" id="hero">
        <h2><strong>we are common.<strong></h2>
        <p>
          professionals
        </p>
        <p>
          in the coffee world
        </p>
        <button type="button" name="button" class="btn">get in touch</button>
      </div>
      <div class="index-main row">
        <header>
          what we do?
        </header>
        <div class=".col-xs-6 .col-md-6 text-center" id="first-img">

        </div>
        <div class=".col-xs-6 .col-md-6 text-left" id="first-info">
          <p>
            creative
          </p>
          <h3><strong>roasters</strong></h3>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit columptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
          </p>
          <p>
            Nemo enim ipsam volumptatem quia volumptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nescient.
          </p>
          <button type="button" name="learn">learn more</button>
        </div>
      </div>
        <div class="index-main-2 row">
          <div class=".col-xs-6 .col-md-6 text-left" id ="second-info">
            <p>
              our
            </p>
            <h3><strong>roasts</strong></h3>
            <p>
              Sed ut perspiciatis unde omnis iste natus error sit columptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            </p>
            <p>
              Nemo enim ipsam volumptatem quia volumptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nescient.
            </p>
            <button type="button" name="learn">learn more</button>
          </div>
          <div class=".col-xs-6 .col-md-6" id="second-img">

          </div>
        </div>
      <div class="friends">
        <header>
          our common friends
        </header>
        <div class="row">
          <img class=".col-xs-3 .col-md-3" src="" alt="" id="square"/>
          <img class=".col-xs-3 .col-md-3" src="" alt="" style="margin-left:20px;" id="rect"/>
          <img class=".col-xs-3 .col-md-3" src="" alt="" style="float:right;"id="square"/>
          <img class=".col-xs-3 .col-md-3" src="" alt="" style="margin-top: -206px;" id="rect"/>
          <img class=".col-xs-3 .col-md-3" src="" alt="" id="square" style="margin-left:20px; margin-top:20px;"/>
          <img class=".col-xs-3 .col-md-3" src="" alt="" style="margin-top: -206px; float:right;" id="rect"/>
        </div>
        <button type="button" name="button" class="btn">learn more</button>
      </div>
      <div class="team">
        <div class="member">
          <img class="img-circle" src="" alt="" />
          <h4>Jon Cusick</h4>
          <p>
            art director
          </p>
        </div>
        <div class="member">
          <img class="img-circle" src="" alt="" />
          <h4>judy chung</h4>
          <p>
            founder
          </p>
        </div>
        <div class="member">
          <img class="img-circle" src="" alt="" />
          <h4>andrew kim</h4>
          <p>
            artist designer
          </p>
        </div>
      </div>
      <div class="commoners">
        <div class="member">
          <h4>frank sims</h4>
          <p>
            photographer
          </p>
        </div>
        <div class="bio">
          <p>Sed ut perspiciatis unde omnis iste natus error sit columptatem accusantium doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      <footer>
        <header>
          get in touch
        </header>
        <div class="contact-info">
          <p class="address">

          </p>
          <p class="phone">

          </p>
          <p class="email">

          </p>
        </div>
        <div class="form">
          <form class="" action="index.html" method="post">
            <input type="text" name="" placeholder="name">
            <input type="text" name="" placeholder="e-mail">
            <input type="text" name="" placeholder="your message">
            <input type="submit" name="name" value="submit">
          </form>
        </div>
      </footer>
    </div>
  </body>
</html>
