// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//index
#hero{
  height: 40%;
  padding: 10%;
  background-color: orange;
  button{
    background-color: black;
    -webkit-border-radius: 36px;
    color: white;
    width: 130px;
    margin-top: 3%;
  }
}
.index-main{
  header{
      text-align: center;
      padding: 5%;
      font-size: 35px;
  }
  #first-img{
    width: 50%;
    height: 460px;
    background-color: grey;
    margin: 0;
    display: inline-block;
  }
  #first-info{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding-left: 5%;
    button{
      background-color: transparent;
      color: black;
      -webkit-border-radius: 36px;
      width: 130px;
      margin-top: 3%;
    }
  }
}
  .index-main-2{
    margin-top: 5%;
    #second-info{
      display: inline-block;
      width: 50%;
      padding-right: 5%;
      button{
        background-color: transparent;
        color: black;
        -webkit-border-radius: 36px;
        width: 130px;
        margin-top: 3%;
      }
    }
    #second-img{
      width: 49%;
      height: 460px;
      background-color: grey;
      margin: 0;
      display: inline-block;
      vertical-align: top;
    }
  }
  .friends{
    background-color: white;
    header{
        text-align: center;
        padding: 5%;
        font-size: 35px;
    }
    .row{
      #square{
        width: 364px;
        height: 364px;
        display: inline-block;
        background-color: grey;
      }
      #rect{
        width: 364px;
        height: 590px;
        display: inline-block;
        vertical-align: top;
        background-color: grey;
      }
    }
  }
