//partial
.container-fluid{
  nav{
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    h3{
      display: inline-block;
    }
    ul{
      margin-top: 1%;
      display: inline-block;
      li{
        display: inline-block;
        a{
          color: grey;
        }
      }
    }
  }
}
.carousel{
  margin: 0 auto;
  width: 80%;
  .item{
    height: 592px;
    width: 100%;
  }
  a{
    width: 40px;
    color:grey;
  }
  .carousel-indicators{
    bottom: -10%;
  }
  .carousel-indicators li{
    border-color: black;
  }
  .carousel-indicators .active{
    background-color: black;
  }
  .carousel-inner {
   margin-bottom: 10%;
  }
}
#show-info{
  padding-left: 15%;
  padding-right: 10%;
  h2{
    margin-top: 0;
  }
  p{
    color: grey,
  }
  hr{
    margin-left: 0;
    width: 10%;
    border-top: 2px solid black;
  }
}
